body {
	width: 92%;
	margin: 0;
	padding: 0;
	font-size: 1.5em;
	margin: 0 auto;
}

.st1 {
	/*width: 250px;*/
	border-bottom: 1px solid #e0e0e0;
	margin: 20px;
	padding-bottom: 10px;
}

.label1 {
	/*width: 100px;*/
	float: left;
	text-align: right;
	padding-right: 3px;
}

section {
	padding-bottom: 20px;
	margin-bottom: 1.3%;
	/*border-bottom: 3px solid #ccc;*/
}

fieldset {
	width: 500px;
	margin: 15px;
	border: 1px solid #acd6ff;
	border-radius: 15px;
}

.box {
	position: relative;
}

.box h1 {
	text-align: center;
}

#position {
	text-align: center;
	font-size: 1em;
	color: orange;
	border: 1px dashed #BBB;
	background-color: white;
	position: relative;
	z-index: 1;
}

div.leftContent {
	width: 48%;
	/*height: 100 vw;*/
	background-color: #FFFFFF;
	border: 3px solid #ADD8E6;
	box-shadow: .3em .3em .3em .3em #C0C0C0;
	border-radius: 3px;
	display: inline;
	float: left;
}

div.rightContent {
	width: 48%;
	/*height: 100vw;*/
	background-color: #FFFFFF;
	border: 3px solid #EE82EE;
	box-shadow: .3em .3em .3em .3em #C0C0C0;
	border-radius: 3px;
	display: inline;
	float: right;
}

em {
	color: red;
}

.sub {
	width: 450px;
	margin: 20px;
	text-align: center;
}

input[type="range"]{
	-webkit-appearance: none;
	overflow: hidden; /* 限定範圍 */
	width: 75%;
	height: 5%;
	outline: none; /* 避免點選會有藍線或虛線 */
	background: #008DCA;
}

